$heading-font: "Merriweather Sans", sans;
$body-font: "Noto Serif", serif;
$shadow-color: rgba(0,0,0,.5);

@mixin absolute-fill() {
  position:absolute;
  top:0;  right:0;
  left:0; bottom:0; }

html,body{
  // @include absolute-fill();
  height: 100%;
  margin:0;
  background-color:white;
  overflow:hidden;
  font-family: $body-font; }

h1,h2,h3,h4{
  font-family: $heading-font;
}

#mainWrapper {
  // @include absolute-fill();
  height: 100%;
  z-index:0;
  opacity:1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: opacity .5s;
  overflow:auto; }

#mainWrapper.hidden { opacity: 0; }

a.logoWrapper{
  z-index:100;
}

a.logoWrapper{
  #lettermark{
    height: 109%;
    width: 109%;
    position: relative;
    left: -5%;
  }
  #logo-path { transition: fill .5s; }
  #blur-path { transition: fill .5s; }
}

a.logoWrapper.mainView {
  #blur-path { fill:none;}
}

a.logoWrapper.mainView:hover #lettermark #blur-path{
  fill:gray;
}

a.logoWrapper.inProjectView #lettermark #logo-path{
  fill: white;
}

#intro{
  h1{
    font-size: 22pt;
    font-family: $heading-font;
    font-weight: 400;
    margin:0 0 0 -.1em;
  }

  p{
    line-height:150%;
    font-size:14pt
  }
}

#presence{
  list-style-type: none;
  padding: 0;
  font-size: 11pt;
  position: relative;

  li{
    margin-bottom:5px;
  }
  .fa{
    width:1em;
    text-align: center;
    margin-right: .5em;
    font-size: 13pt;
    vertical-align: middle;
  }

  a{
    color: gray;
    text-decoration: none;
    vertical-align: middle;
  }

  a:hover{
    text-decoration: underline;
  }
}


.project a:hover{
  border-bottom: 4px solid black;
  padding-bottom: 3px;
}


.projectView{
  transition:background-color .5s;
  -webkit-transform:translateZ(0);
  transform:translateZ(0);

}

.projectView.hidden{
  background-color:rgba(153,153,153,0);
}

.projectView.gone{
  display:none;
}

.galleryWrapper{
  overflow:auto; 
}

.descWrapper{
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.desc p{
  margin-bottom:0;
  font-size: 10pt;
}

@media (orientation: portrait){
  main{
    box-sizing:border-box;
    padding-bottom: 30px;
  }  

  .project, a.logoWrapper, #introWrapper{
    margin: 0 0 40px 0;
  }
  
  .preview img{
    width:100%;
    display:block;
  }
  
  #intro{
    border-left:1px solid lightgray;
  }


  .projectView.hidden{
    .galleryWrapper{
    position:relative;
    top:100vh;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }

    .descWrapper{
      opacity: 0;
    }
  }

  .projectView{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:rgba(153,153,153,.7);
    z-index:50;

    .galleryWrapper {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      transition: top .5s, bottom .5s;
      background-color: white;
      box-shadow: 0px 40px 40px 40px rgba(0,0,0,.4);
    }

    .gallery{
      white-space: nowrap;
      height:100%;
      min-width: 10px;
      // float: left;
      
      img{
        height:100%;
        display:inline-block;
        // max-width:90vw;
        // object-fit:contain;
        margin-right:60px;
        cursor:nwse-resize;
      }

      img.fit{
        max-width:90vw;
        object-fit:contain;
        cursor:zoom-in;
      }

      .vimeoWrapper{
        display: inline-block;
        width: 100%;
        margin-right: 60px;
        vertical-align: top;
      }

      .vimeoWrapper::after{
        content: '\2192';
        position:absolute;
        color: #CDCDCD;
        top:110%;
        width: 100%;
        font-size: 3em;
        text-align: center;
        pointer-events: none;
      }
    }
    
    .descWrapper{
      position:fixed;
      z-index: 200;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      transition: top .5s, left.5s, width .5s, min-height .5s, max-height .5s, opacity .5s, box-shadow .2s;
      pointer-events: none;
      box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.25);
      // overflow: hidden;
      opacity: 1;
      background-color: white;

      .desc{
        pointer-events:all;
        box-sizing: border-box;
        overflow:hidden;
        background-color:white;
        padding:10px;
        z-index: 0;
          
        h2{
          margin: .2em 0;
          font-weight: 400;
        }
        h3{
          margin: 0;
          font-weight: 300;
        }
        h3.subtitle{
          font-style: italic;
          font-size: .8em;
        }

        *{
          opacity: 1;
          transition: opacity .5s;
        }
      }
    }

    .descWrapper.minimized{
      box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
      overflow: hidden;
      .desc{
        *{
          opacity:0;
        }
      }
      .desc:before{
        content: 'i';
        font-family: "Noto Serif",serif;
        position: absolute;
        font-style: italic;
        z-index: 1;
        color:gray;
        right: 0; left: 0;
        top:0;
        text-align: center;
        font-size: 2em;
      }
    }
    .descWrapper.minimized:hover{
      box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.25);
    }
  } 
}

@media (orientation: portrait) and (max-width:500px){
  main{
    margin: 0 15%;
  }

  a.logoWrapper{
    position:fixed;
    width:15vw;
    height:15vw;
    top:5vw;
    left:20vw;
  }
  
  #intro{
    padding-left:5vw;

    h1{
      margin-top:5vw;
      line-height:15vw;
      margin-left:20vw;
      font-size:6.5vw;
      font-weight:300;
      letter-spacing: .2em;
    }
  }

  .projectView .galleryWrapper{
    top:25.2vw;
    padding:5vw 5vw;
  }

  .projectView.hidden .galleryWrapper{
    bottom:-74.8vh;
  }

  .projectView{
    .descWrapper{
      left: 20vw;
      top: 30vw;
      width: 225px;
      max-height: 85vh;
      min-height: 0vh;
      }

    .desc{
      width: 225px;
    }

    .descWrapper.minimized{
      top: 5vw;
      width:15vw;
      max-height:15vw;
      min-height: 15vw;
      left: 40vw;

      .desc:before{
        line-height: 15vw;
        font-size: 1.5em;
      }
    }
  }
}

@media (orientation: portrait) and (min-width:500px) and (max-width:1000px){
  main {
    margin:0 20%; }

  a.logoWrapper{
    position:fixed;
    width:12vw;
    left:24vw;
    height:12vw;
    top:4vw; }
  
  #intro{
    padding-left: 4vw;
    h1{
      margin-top:4vw;
      line-height:12vw;
      margin-left:16vw;
      font-size:5.5vw;
      font-weight:300;
      letter-spacing: .2em; }
  }

  .projectView .galleryWrapper{
    top:20.2vw;
    padding:5vw 5vw;
  }

  .projectView.hidden .galleryWrapper{
    bottom:-79.8vh;
  }

  .projectView{
    .descWrapper{
      left: 24vw;
      top: 25vw;
      width: 225px;
      max-height: 85vh;
      min-height: 0vh;
      }

    .desc{
      width: 225px;
    }

    .descWrapper.minimized{
      top: 4vw;
      width:12vw;
      max-height:12vw;
      min-height:12vw;
      left: 40vw;

      .desc:before{
        line-height: 12vw;
      }
    }
  }
}

@media (orientation: portrait) and (min-width:1000px){
  main {
    margin:0 25%; }

  a.logoWrapper{
    position:fixed;
    width:8vw;
    left:28vw;
    height:8vw;
    top:3vw; }
  
  #intro {
    padding-left:14vw;
    
    h1 {
      margin-top:3vw;
      line-height:8vw;
      font-size:3.2vw;
      font-weight:300;
      letter-spacing: .2em; }
    
    p {
      margin-top:0; }
  }

  .projectView .galleryWrapper{
    top:13.8vw;
    padding:5vw 5vw;
  }

  .projectView.hidden .galleryWrapper{
    bottom:-79.8vh;
  }

  .projectView{
    .descWrapper{
      left: 28vw;
      top: 16.5vw;
      width: 225px;
      max-height: 85vh;
      min-height: 0vh;
      }

    .desc{
      width: 225px;
    }

    .descWrapper.minimized{
      top: 3vw;
      width:8vw;
      max-height:8vw;
      min-height:8vw;
      left: 39vw;

      .desc:before{
        line-height: 8vw;
        font-size: 2.5em;
      }
    }
  }
}




/*
    ____  _________________   __   __    ___    _   ______  _____ _________    ____  ______
   / __ )/ ____/ ____/  _/ | / /  / /   /   |  / | / / __ \/ ___// ____/   |  / __ \/ ____/
  / __  / __/ / / __ / //  |/ /  / /   / /| | /  |/ / / / /\__ \/ /   / /| | / /_/ / __/   
 / /_/ / /___/ /_/ // // /|  /  / /___/ ___ |/ /|  / /_/ /___/ / /___/ ___ |/ ____/ /___   
/_____/_____/\____/___/_/ |_/  /_____/_/  |_/_/ |_/_____//____/\____/_/  |_/_/   /_____/   
                                                                                           
*/
@media (orientation: landscape){
  html,body{
    overflow-y:hidden;
  }
    
  #mainWrapper{
    overflow-y: hidden;
  }

  main{
    position: relative;
    min-width:10px;
    float:left;
    overflow:visible;
    white-space:nowrap; }

  #presence{
    .fa{
      text-align: left;
    }
  }
  
  .project, #introWrapper {
    height:100%;   
    display:inline-block;
    vertical-align:top;
  }

  #introWrapper{
    white-space:normal;
    overflow:visible;
  }

  .preview{
    height:100%;

    img{ height:100%; }
  }
  
  .projectView.hidden{
    .galleryWrapper{
    position:absolute;
    left:100vw;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    }

    .descWrapper{
      opacity: 0;
    }
  }
  
  .projectView .gallery{
    img, .vimeoWrapper{
      width:100%;
      display:block;
      // max-height:90vh;
      // object-fit:contain;
      margin-bottom:60px;
      cursor:nwse-resize;
    }

    img.fit{
      max-height:90vh;
      object-fit:contain;
      cursor:zoom-in;
    }
  }


  .projectView{
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color:rgba(153,153,153,.7);
    z-index:50;

    .galleryWrapper {
      position:absolute;
      top:0;
      bottom:0;
      right:0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      transition: left .5s, right .5s;
      background-color:white;
      box-shadow: 40px 0px 40px 40px rgba(0,0,0,.4);
    }

    .descWrapper{
      position:fixed;
      z-index: 200;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      transition:top .5s, left.5s, width .5s, max-height .5s, opacity .5s, box-shadow .2s;
      pointer-events:none;
      box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.25);
      // overflow: hidden;
      opacity: 1;

      .desc{
        pointer-events:all;
        box-sizing: border-box;
        overflow:hidden;
        background-color:white;
        padding:10px;
        z-index: 0;
          
        h2{
          margin: .2em 0;
          font-weight: 400;
        }
        h3{
          margin: 0;
          font-weight: 300;
        }
        h3.subtitle{
          font-style: italic;
          font-size: .8em;
        }

        *{
          opacity: 1;
          transition: opacity .5s;
        }
      }
    }

    .descWrapper.minimized{
      box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.25);
      overflow: hidden;
      .desc{
        *{
          opacity:0;
        }
      }
      .desc:before{
        content: 'i';
        font-family: "Noto Serif",serif;
        position: absolute;
        font-style: italic;
        z-index: 1;
        color:gray;
        right: 0; left: 0;
        top:0;
        text-align: center;
        font-size: 2em;
      }
    }
    .descWrapper.minimized:hover{
      box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.25);
    }
  }
}

@media (orientation: landscape) and (max-height: 400px){
  main{
    height:80%;
    margin-top: 10vh;
  }  
  
  a.logoWrapper{
    position:fixed;
    width:15vh;
    left:5vh;
    height:15vh;
    top:15vh;
  }
  
  #introWrapper{
    width:20em;
    padding-left: 30vh;
    margin-left:5vh;
    margin-right:10vh;
    border-top: solid 1px lightgray;
  } 
  
  #intro h1{
    line-height:15vh;
    margin-top:5vh;
    font-size:10vh;
    font-weight:300;
    letter-spacing: .2em;
  }
  
  .project{
    margin-right: 10vh;
  }

  .projectView .galleryWrapper{
    left:25.2vh;
    padding:5vh 5vh 0 5vh;
  }

  .projectView.hidden .galleryWrapper{
    right:-74.8vw;
  }

  .projectView{
    .descWrapper{
      left: 28vh;
      top: 15vh;
      width: 225px;
      max-height:85vh;
      }

    .desc{
      width: 225px;
    }

    .descWrapper.minimized{
      left: 5vh;
      width:15vh;
      max-height:15vh;
      top: 35vh;
      overflow: hidden;

      .desc:before{
        line-height: 15vh;
        font-size: 1.5em;
      }
    }
  }
}

@media (orientation: landscape) and (min-height: 400px){
  main{
    height:50%;
    margin-top:25vh;
  }
  
  a.logoWrapper{
    position:fixed;
    width:10vh;
    left:3vh;
    height:10vh;
    top:29vh;
  }
  
  #introWrapper{
    width:20em;
    padding-left: 20vh;
    margin-left:3vh;
    margin-right:10vh;
    border-top: solid 1px lightgray;
  } 
  
  #intro h1{
    line-height:10vh;
    margin-top:4vh;
    font-size:4.6vh;
    font-weight:300;
    letter-spacing: .2em;
  }
  
  .project{
    margin-right: 10vh;
  }
  
  .projectView .galleryWrapper{
    left:16.5vh;
    padding:4vh 4vh 0 4vh;
  }

  .projectView.hidden .galleryWrapper{
    right:-83.5vw;
  }

  .projectView{
    .descWrapper{
      left: 20.5vh;
      top: 29vh;
      width: 225px;
      max-height:71vh;
      }

    .desc{
      width: 225px;
    }

    .descWrapper.minimized{
      left: 3vh;
      width:10vh;
      max-height:10vh;
      top: 42vh;
      overflow: hidden;

      .desc:before{
        line-height: 10vh;
      }
    }
  }
}

@media (orientation: landscape) and (min-height: 800px){
  main{
    height:40%;
    margin-top: 30vh;
  }
  
  a.logoWrapper{
    position:fixed;
    width:6vh;
    left:2vh;
    height:6vh;
    top:32vh;
  }
  
  #introWrapper{
    width:20em;
    padding-left: 14vh;
    margin-left:2vh;
    margin-right:8vh;
    border-top: solid 1px lightgray;
  } 
  
  #intro h1{
    line-height:6vh;
    margin-top:2vh;
    font-size:2.6vh;
    font-weight:300;
    letter-spacing: .2em;
  }
  
  .project{
    margin-right: 6vh;
  }

  .projectView .galleryWrapper{
    left:10.5vh;
    padding:3vh 3vh 0 3vh;
  }

  .projectView.hidden .galleryWrapper{
    right:-89.5vw;
  }

  .projectView{
    .descWrapper{
      left: 12.5vh;
      top: 32vh;
      width: 225px;
      max-height:68vh;
      }

    .desc{
      width: 225px;
    }

    .descWrapper.minimized{
      left: 2vh;
      width:6vh;
      max-height:6vh;
      top: 40vh;
      overflow: hidden;

      .desc:before{
        line-height: 6vh;
      }
    }
  }
}

// .iScrollVerticalScrollbar{
//   width:4px !important;
// }
// .iScrollHorizontalScrollbar {
//   height:4px !important;
// }

// .iScrollIndicator{
//   background-color:black !important;
// }

.vimeoWrapper {
    position: relative;
    padding-bottom: 50.25%; //was 56.25%
    padding-top: 30px;
    height: 0;
    // overflow: hidden;
}

.vimeoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
