<div id="mainWrapper">
<main>
  <div id="introWrapper">
    <section id="intro">
      <h1>Joe Slote</h1>
      <p>I'm currently a senior at Carleton College in Northfield, Minnesota. While I am a Math major, I spend a lot of my time wandering about the neighboring regions of design, art, and computer science. Here is a sampling of my artwork.</p>
      <ul id="presence">
        <li><i class="fa fa-envelope-o"></i><a class="no-redirect" href="mailto:joseph.slote@gmail.com">joseph.slote@gmail.com</a></li>
        <li><i class="fa fa-file-o"></i><a class="no-redirect" target="_blank" href="http://joeslote.com/documents/Joseph_Slote_Resume_2015.pdf">Résumé</a></li>
        <li><i class="fa fa-github-square"></i><a target="_blank" href="https://github.com/JSlote">JSlote</a></li>
      </ul>
    </section>
  </div>


  <!-- PREVIEWS -->
  {{#withSort project 'data.date'}}
    {{#each this.pages }}
    <div class="project">
      <a href="/{{ replaceStr this.dest 'dist/' '' }}" class="preview">
        <img src="{{this.data.previewImg}}" />
      </a>
    </div>
    {{/each}}
  {{/withSort}}


</main>
</div>
