<!DOCTYPE html>
<html>
<head>
  <meta name=viewport content="width=device-width, initial-scale=1">

  <script>
  var inProjectView = {{#if page.project}}true{{else}}false{{/if}};
  </script>

  <!-- DEPS -->
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.1/iscroll-min.js"></script>
  <script src="https://cdn.rawgit.com/anselmh/object-fit/master/dist/polyfill.object-fit.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-history/1.9/jquery.history.min.js"></script>-->
  <script src="/main.js"></script>

  <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 64x64" type="image/vnd.microsoft.icon">

  <link rel="stylesheet" type="text/css" href="/style/main.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/anselmh/object-fit/master/dist/polyfill.object-fit.css">
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic|Merriweather+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


  
  <meta charset="utf-8">
  <title>Joe Slote</title>
</head>
<body>
<a class="logoWrapper {{#if page.project}}inProjectView{{else}}mainView{{/if}}" href="/">
  {{>lettermark}}
</a>