---
title: Flame
subtitle: Paraffin, wood, mechanics
description: |
 In *Flame* I attempt to address how consumerism complicates our 
 conceptions of time and finite processes. The endless candle asks: 
 what does it mean to live in a society where everything — including 
 time — is a commodity that we obtain with the push of a button?
previewImg: /images/flame/flame1.jpg
date: 2014-10-24
project: true
---

<div class="vimeoWrapper">
	<iframe src="https://player.vimeo.com/video/124677518?color=f5eedf&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<img src="/images/flame/flame1.jpg" />
<img src="/images/flame/flame2.jpg" />
<img src="/images/flame/flame3.jpg" />
<img src="/images/flame/flame4.jpg" />
