---
title: Mother
subtitle: aluminum, steel, clay
description: 
previewImg: /images/bird/bird3.jpg
date: 2014-04-01
project: true
---

<img src="/images/bird/bird1.jpg" />
<img src="/images/bird/bird3.jpg" />
<img src="/images/bird/bird4.jpg" />
<img src="/images/bird/bird5.jpg" />
<img src="/images/bird/bird6.jpg" />
<img src="/images/bird/bird7.jpg" />
<img src="/images/bird/bird8.jpg" />
<img src="/images/bird/bird2.jpg" />
