{{>site-prelims}}
{{>site-gallery}}
<section class="projectView {{#if page.project}}{{else}}gone{{/if}}">
{{!-- {{#if page.project}} --}}
<div class="descWrapper">
<div class="desc">
  <h3 class="date">{{formatDate date "%Y"}}</h3>
  <h2>{{ title }}</h2>
  <h3 class="subtitle">{{subtitle}}</h3>
  {{#markdown}}
  {{description}}
  {{/markdown}}
</div>
</div>
<div class="galleryWrapper">
<div class="gallery">
	{{>body}}
</div>
</div>
{{!-- {{/if}} --}}
</section>
</body>
</html>